[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.vs
.vsconfig
*.log
*.tmp
*.pidb.meta
UpgradeLog2.htm
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
