# ВСЕ Unity файлы - как бинарные (никаких CRLF!)
*.anim -text
*.controller -text
*.unity -text
*.asset -text
*.prefab -text
*.mat -text
*.physicsMaterial2D -text
*.physicsMaterial -text
*.preset -text
*.preferences -text
*.mixer -text
*.mask -text
*.flare -text
*.guiskin -text
*.fontsettings -text
*.shadervariants -text
*.inputactions -text
*.meta -text

# ВСЕ ProjectSettings - как бинарные
ProjectSettings/* -text

# Text files
*.cs text eol=crlf
*.shader text eol=crlf
*.txt text eol=crlf
*.json text eol=crlf
*.xml text eol=crlf
*.md text eol=crlf
